@tailwind base;
@tailwind components;
@tailwind utilities;


#body{
  @apply transition !important;
  @apply duration-500	!important;
  display: none;
  opacity: 0;
}

.tab{
  transition: background-color 200ms ease !important;
  border-collapse: collapse;
  @apply border-solid;
  @apply border;
  @apply px-10;
  @apply py-2;
  @apply sm:text-lg;
  @apply sm:w-full;

  @apply text-black dark:text-white;
}

.active{
  background-color: rgb(145, 145, 145) !important;
}

.fadeOut{ animation: fade 100ms ease-in forwards; }
.fadeIn{ animation: fade 100ms ease-in reverse forwards; }

@keyframes fade {
  from { opacity: 1; }
  to { opacity: 0; }
}


.lang-circle-javascript{ fill: #EFD81D;}
.lang-circle-kotlin{ fill: #A97BFF; }
.lang-circle-python{ fill: #3572a5; }
.lang-circle-bash{ fill: #89E051; }
.lang-circle-html{ fill: #E34C26; }
.lang-circle-java{ fill: #B07219; }
.lang-circle-rust{ fill: #DEA584; }
.lang-circle-css{ fill: #563D7C; }
.lang-circle-cs{ fill: #178600; }
.lang-circle-c{ fill: #555555; }