@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  transition: background-color 500ms ease !important;
  transition: color 250ms ease;
}

.tab{
  transition: background-color 200ms ease !important;
  border-collapse: collapse;
  @apply border-solid;
  @apply border;
  @apply px-10;
  @apply py-2;

  @apply text-black dark:text-white;
}

.active{
  background-color: rgb(145, 145, 145) !important;
}